/*
 * Plugin Name: KPMG Winterfest 2016
 * Plugin URI: http://ojambo.com
 * Description: KPMG Winterfest 2016 Wordpress plugin
 * Author: Edward Ojambo
 * Author URI: http://ojambo.com
 * Version: 1.0.0
 * License: GPL2
*/
/* 
    Created on : 27-Aug-2016, 7:35:24 PM
    Author     : edward
*/

.hide { display: none; }
.show { display: block; }
form h3.sub-heading { display: none; }